@model SaitCourses.ViewModels.RegisterViewModel

@if (User.Identity.IsAuthenticated)
{
    <form class="form-signin col-md-6 m-auto" method="post" method="post" asp-controller="Account" asp-action="Register">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfim"></label><br />
            <input class="form-control" asp-for="PasswordConfim" />
            <span asp-validation-for="PasswordConfim"></span>
        </div>
        <div>
            <input class="btn btn-outline-primary" type="submit" value="Register" />
        </div>

    </form>
}
else
{
<body>
    вы пидор
</body>
}