/*.dark {
    background-color: #121212 !important;
    color: white !important;
    border-color: black !important;
}*/

.dark_2 {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
}
.styleTag {
    border-color: black !important;
    background-color: #4e4e4e !important;
}
html {
    background-color: white !important;
}

.text-muted {
    color: black !important;
}

.btn {
    background-color: #3f0b41 !important;
    color: white !important;
    border-color: white !important;
}



.card {
    background-color: #3f0b41 !important;
    color: white !important;
}
.input-group {
    background-color: white !important;
    color: black !important;
}
.form-control {
    background-color: white !important;
    color: black !important;
}

.border {
    border-color: #816182 !important;
}

.navbar {
    background-color: #3f0b41 !important;
    color: white
}

.table {
    color: black !important;
}
