.dark {
    background-color: #121212 !important;
    color: white !important;
    border-color: black !important;
}

.dark_2 {
    background-color: #111111 !important;
    color: white !important;
    border-color: black !important;
}

.styleTag{
    border-color: white !important;
    background-color: black !important;
}

.card {
    background-color: #040404 !important;
    color: antiquewhite !important;
}

html {
    background-color: #111111 !important;
}

.text-muted {
    color: aliceblue !important;
}
.input-group {
    background-color: #121212 !important;
    color: white !important;
}
.btn {
    background-color: #464646 !important;
    color: white !important;
    border-color: black !important;
}

.form-control {
    background-color: #121212 !important;
    color: white !important;
}

.border {
    border-color: black !important;
}

.navbar{
    background-color: #040404 !important;
    color: white
}
.table{
    color:  aliceblue !important;
}
