
@{
    ViewData["Title"] = "Bay";
}
    <h1>
        Thank you for your purchase!
        <p>Additional information sent by mail</p>
    </h1>


<script src="~/js/NoAutorizeBasket.js"></script>
@if (!User.Identity.IsAuthenticated)
{
<script>
    document.addEventListener('DOMContentLoaded', clearBasket(), false);
</script>
}