
@{
    ViewData["Title"] = "Bay";
}
    <script>
        window.onload = clearBasket();
    </script>
    <h1>
        Thank you for your purchase!
        <p>Additional information sent by mail</p>
    </h1>


<script src="~/js/NoAutorizeBasket.js"></script>